//  VARIABLES
// $void: #0b0e11;
$void: #1d1414;

$accent_color: #865439;
$complement_color1: #c89595;
$complement_color2: #ddbebe;

$hover_animation_time: 180ms;

$font-min: (
	"mini": 12px,
	"normal": 16px,
	"title": 20px,
	"four": 20px,
	"accent": 30px,
	"super_accent": 30px,
);

$font-pref: (
	"mini": 0.8rem,
	"normal": 1vw,
	"title": 2vw,
	"four": 3vw,
	"accent": 5vw,
	"super_accent": 10vw,
);

$font-max: (
	"mini": 16px,
	"normal": 25px,
	"title": 120px,
	"four": 120px,
	"accent": 280px,
	"super_accent": 320px,
);

@function fontz($type) {
	@return clamp(
		map-get($font-min, $type),
		map-get($font-pref, $type),
		map-get($font-max, $type)
	);
}
