@import "./reset.scss";
@import "./variables";
@import "./mixins";
@font-face {
	font-family: "Inter", sans-serif;
	src: url("/assets/font/QuickSand-Bold.ttf") format("truetype"),
		url("/assets/font/Quicksand-Light.ttf") format("truetype"),
		url("/assets/font/Quicksand-Medium.ttf") format("truetype"),
		url("/assets/font/Quicksand-Regular.ttf") format("truetype"),
		url("/assets/font/Quicksand-SemiBold.ttf") format("truetype");
}
body {
	@include fullscreensize();
	overflow-x: hidden;

	font-family: "Quicksand", sans-serif;

	background-color: $void;
	color: #fff;
	box-sizing: border-box;
}

/**/
//  ========== HEADER ==========
/**/
$logo_width: 120px;
header {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	// height: 20vh;
	background-color: $void;
	z-index: 10;
	transform: translateY(20);
	.nav {
		position: sticky;
		top: 0;
		height: auto + 2vh;

		ul {
			@include flex_center(row);
		}
		button {
			@include button;
			padding: 0 1rem;
			color: darken(white, 10%);
			transition: color $hover_animation_time ease-in-out;
			img {
				width: $logo_width;
				opacity: 0.8;
				filter: brightness(300%) contrast(300%);
				transition: opacity $hover_animation_time ease-in-out;
				margin: 0 3rem;
			}
			&:hover {
				color: white;
				text-decoration: underline;
				text-underline-offset: 10px;
			}
			&:hover img {
				opacity: 1;
			}
		}
	}
	animation: headerfadein 200ms ease-in;
}
@keyframes headerfadein {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/**/
//  ========== MAIN ==========
/**/

.section {
	@include fullscreensize();
}

.main {
	position: relative;
	@include flex_center(column);
	overflow: hidden;
	.granos_front {
		position: absolute;
		scale: 1;
		top: 50%;
		left: 50%;
		transform: translate(-20%, -40%);
		z-index: 2;
		filter: blur(5px);
	}
	.toprow {
		position: absolute;
		top: 4vh;
		img {
			width: $logo_width;
			filter: brightness(300%) contrast(300%);
		}
	}

	&__content {
		text-align: center;
		h1 {
			position: relative;
			z-index: 1;
		}
		img {
			width: 60vw;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__phrase {
		font-size: fontz(super_accent);
		font-weight: 500;
		text-transform: uppercase;
		color: lighten(white, 8%);
	}
	&__fondo {
		position: absolute;
		z-index: -1;
		top: 0;
		scale: 1.2;
		opacity: 0.6;
		height: 100vh;
	}
}

.two,
.three {
	@include flex_center(row);
	.section__content {
		max-width: 40%;
	}

	img {
		width: 30%;
	}
	h1 {
		padding: 5vh 0;
		font-size: fontz(accent);
		color: white;
	}
	p {
		font-size: fontz(normal);
	}
}

.section {
	&:nth-child(4) {
		background-color: lighten($void, 10%);
	}
}

/**/
//  ========== FOOTER ==========
/**/
footer {
	position: relative;
	.conejo_container {
		display: flex;
		-moz-box-pack: center;
		justify-content: center;
		align-items: flex-end;
		height: 60px;
		overflow: hidden;
		.conejo {
			margin-bottom: -16px;
			color: #ffffff;
			transform: scale(3);
			transform-origin: center bottom 0px;
			.conejosvg {
				stroke: none;
				fill: currentcolor;
				width: 24px;
				height: 24px;
				line-height: 0;
				font-size: 0px;
				vertical-align: middle;
			}
		}
	}
	small {
		span {
			position: absolute;
			bottom: 0;
		}
		.made_with_love {
			color: #ffffff6e;
			right: 5px;
			font-weight: bold;
		}
	}
}

/*============*/
/* RESPONSIVE */
/*============*/
@media all and (max-width: 600px) {
	/*
    	========== FOOTER ==========
  	*/
	footer {
		small {
			display: none;
		}
	}
}
