---
	import "../styles/index.scss";
	import BaseComponent from "../components/base.astro";
	import HeaderComponent from "../components/header.astro";
	import FooterComponent from "../components/footer.astro";
---

<BaseComponent title="Monte Viejo">
	<HeaderComponent></HeaderComponent>

	<main class="section main">
		<img class="granos_front" src="assets/image/granos.png" alt="productos">
		<div class="toprow">
			<img src="assets/image/logo.png" alt="logo black">
		</div>
		<div class="main__content">
			<img class="granos_back" id="mouse" src="assets/image/productos.png" alt="productos">
			<h1 class="main__phrase">Monte Viejo</h1>
		</div>
		<img class="main__fondo" src="/assets/image/back.jpg" alt="fondo">
	</main>
	
	<section class="section two">
		<div class="section__content">
			<h1>Nuestro Café.</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis blanditiis nostrum, officiis, aperiam, laboriosam ab aliquam quam officia quo temporibus amet beatae magnam exercitationem saepe minus laborum facilis necessitatibus at ipsum odio iste modi alias illo doloremque. Repellat, quaerat illo.</p>
		</div>
		<img src="assets/image/anuncio.png" alt="demo image">
	</section>

	<section class="section three">
		<img src="assets/image/demo4.jpg" alt="demo image">
		<div class="section__content">
			<h1>Lorem, ipsum dolor.</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis blanditiis nostrum, officiis, aperiam, laboriosam ab aliquam quam officia quo temporibus amet beatae magnam exercitationem saepe minus laborum facilis necessitatibus at ipsum odio iste modi alias illo doloremque. Repellat, quaerat illo.</p>
		</div>
	</section>

	<!-- <FooterComponent></FooterComponent> -->
	<script src={Astro.resolve("../components/index.js")} type="module"></script>
</BaseComponent>