---
    import LogoWhite from "/assets/image/logo.png";
---
<header>
    <nav class="nav" aria-label="Main links">
        <ul>
            <li class="nav__item"><button>Productos</button></li>
            <li class="nav__item"><button>Contactanos</button></li>

            <li class="nav__item"><button><img src={LogoWhite} alt="logo"></button></li>

            <li class="nav__item"><button>Ordenar Ahora</button></li>
            <li class="nav__item"><button>Social</button></li>
        </ul>
    </nav>
</header>